---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Testimonials from "../components/Testimonials.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout
	title="Sexoterapiaok | Santiago Ruiz Diaz - Especialista en Sexualidad y Género"
>
	<Navbar />
	<main>
		<Hero />
		<Services />
		<About />
		<Testimonials />
		<Contact />
	</main>
	<Footer />
</Layout>

<style>
	/* Los estilos ahora están dentro de cada componente */
</style>
